{% extends 'base.html' %}
{% load static %}
  {% block content %}
      <div class="row">
        {% for pizza in pizzas %}
        <div class="column">
          <div class="card">
            <a href="{%url 'pizzadetail' pizza.id %}">
            <h3>{{ pizza.pizza_name }}</h3></a><br>Pizza
            <h1>{{ pizza.pizza_price}}</h1>
            <h4>{{ pizza.pizza_size }}</h4>
            <p>{{pizza.description}}<p>
        </div>
        </div>
        {% endfor %}
      </div>
      {% endblock %}
  
  
   